<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kriptografi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="center">
    <h1>Result Encryption</h1>
    <p>{{ decrypted_text }}</p><br><br>
    <form action="/">
    <div class="inputbox">
      <input type="submit" value="Home" id="submit">
    </div>
    </form>
  </div>
</body>
</html>

