<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kriptografi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center">
        <h1>Welcome</h1>
        <div class="inputbox">
            <input type="submit" onclick="location.href='/enkripsi'" value="Encryption" id="submit">
        </div>
        <div class="inputbox">
            <input type="submit" onclick="location.href='/dekripsi'" value="Decryption" id="submit">
        </div>
    </div>
</body>
</html>